<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gsta.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="gsta.MySettings.timesheetdemoConnectionString"
         connectionString="Data Source=INTERN-01;Initial Catalog=timesheetdemo;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <gsta.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberMe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value />
      </setting>
      <setting name="smallMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="popupAndNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="errorReporting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="animations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lightMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="closeIsMinimize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoSubmitTimesheets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="workTimeStart" serializeAs="String">
        <value />
      </setting>
      <setting name="workTimeStop" serializeAs="String">
        <value />
      </setting>
    </gsta.Settings>
  </userSettings>
</configuration>